.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#carouselExampleIndicators{
  position: relative;
  z-index: 0;
}

.product-wrapper{
  padding-top: 3em;
  padding-bottom: 3em;
}

.header-base-line{
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 40px;
  h1{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    font-family: $base-font;
  }
  h3{
    color: white;
    padding-top: 13px;
    font-family: $base-font;
  }
  h5{
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-family: $base-font;
    background-color: $orange;
  }
  p{
    color:white;
    text-transform:uppercase;
    font-size:20px;
  }
}

.headline-wrapper{
  background-color:white;
  padding-top:2em;
}

.headline{
  text-align: center;
  padding: 2em;
  h2{
    color:$gray-medium;
    font-size: 35px;
    font-weight: bold;
    font-family: $base-font;
    text-transform: uppercase;
    padding-bottom: 0.5em;
  }
  h3{
    color:$gray-medium;
    font-size: 16px;
    font-family: $header-font;
    font-style: italic;
  }
}

.concurents-wrapper{
  background-color:#f7f7f7;
  padding-top: 3em;
  padding-bottom: 3em;
}

.list-insurance{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
}


.inner{
  max-width: 900px;
  margin: 0 auto;
  z-index: 1;
  ul{
    list-style: none ;
    list-style-image: none ;
    li{
      background: #F7F7F7 ;
      max-width: 400px ;
      border: 1px #DADADA solid ;
      padding: 25px 45px ;
      margin: 20px 20px 40px 20px ;
      border-radius: 5px;
      color: $gray-medium;
      h3{
        font-family: $base-font;
        text-transform: uppercase;
        font-weight:bold;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #F75100;
      }
      p{
        color:$gray-medium;
        font-size: 16px;
        font-family: $header-font;
      }
      h4{
        color:#F75100;
        font-family: $base-font;
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 1em;
        padding-top: 1em;
      }
      h5{
        font-family: $base-font;
        font-size: 50px;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
      h6{
        color: $gray-lighter;
        font-family: $header-font;
        font-size: 13px
      }
    }
  }
}


.col-centered{
  float: none;
  margin: 0 auto;
}


.table-concurrent{
  thead{
    background-color:$gray-dark;
    color: white;
    img{
      width:130px;
    }
  }
  .color-red{
    color:$red;
  }
  .color-green{
    color:$green;
  }
  .color-yellow{
    color:$yellow;
  }
  .color-orange{
    color:$orange;
  }
}

.faq-wrapper{
  background-color:$gray-dark;
  padding-top: 3em;
  padding-bottom: 3em;
  h4{
    color:white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: $base-font;
    text-transform: uppercase;
    border-bottom: solid 2px $orange;
  }
}

.headline-wrapper-inverse{
  background-color:$gray-dark !important;
  padding-bottom: 2em;

}

.headline-inverse{
  text-align: center;
  padding-bottom: 2em;

  h2{
    color:white;
    font-size: 35px;
    font-weight: bold;
    font-family: $base-font;
    text-transform: uppercase;
    padding-bottom: 0.5em;
  }
  h3{
    color:white;
    font-size: 16px;
    font-family: $header-font;
    font-style: italic;
  }
}

.card-faq{
  background-color:$gray-medium !important;
  border: solid 1px $gray-medium  !important;
  position: relative;
  margin-top: 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  &:hover{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    border: solid 1px $orange  !important;
  }
  .car-header-faq{
    border-bottom:solid 1px $gray-medium  !important;
    h5{
      color: white;
      font-size: 16px;
      font-family: $base-font;
      text-transform: uppercase;
    }
  }
  a{
    text-decoration: none;
  }
  .card-block-faq{
    color: black;
    background-color: white;
    padding-right: 1em;
    padding-left: 1em;
    p{
      padding-top: 1em;
      font-family:  $base-font;
    }
    span{
      background-color: $yellow;
    }
  }
}

.wrapper-press-card{
  padding-bottom:4em;
  .press-card{
    border: solid 1px $gray-dark;
    text-align: center;
    border-radius: 5px;
    padding: 1em 2em 1em 2em;
    max-width: 350px;
    .press-card-block{
      height: 150px;
      border-bottom: solid 1px $gray-lighter;
    }
    img{
      height: 50px;
    }
  }
}

.form-devis-wrapper{
  padding-top:2em;
  padding-bottom:2em;
  background-color: $gray-dark;
  height:calc(80vh-80px);
  label{
    color:white;
  }
}

.input-form{
  border: solid 1px $orange !important;
  background-color: $gray-medium !important;
}

.form-control::-webkit-input-placeholder { color: $gray-lighter; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $gray-lighter; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $gray-lighter; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $gray-lighter; }  /*  Internet Explorer 10-11*/
.form-control::-ms-input-placeholder { color: $gray-lighter; }  /* Microsoft Edge */

.form-control:focus {
  border-color: white;
  color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

input[type=mail] {
    color: white;
}

input[type=text] {
    color: white;
}

input[type=number] {
    color: white;
}

input[type=tel] {
    color: white;
}

input[type=submit] {
    color: white;
}

.headline-devis-wrapper-inverse{
  background-color:$gray-dark !important;
  padding-bottom: 0em;

}


.headline-devis-inverse{
  text-align: center;
  padding-bottom: 0em;

  h2{
    color:white;
    font-size: 35px;
    font-weight: bold;
    font-family: $base-font;
    text-transform: uppercase;
    padding-bottom: 0.5em;
  }
  h3{
    color:white;
    font-size: 16px;
    font-family: $header-font;
    font-style: italic;
  }
}

/*
==============================================
pulse
==============================================
*/

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
}

