<div class="footer-wrapper d-flex align-items-center">
  <div class="footer-img">
    <%= image_tag "footer-degrade.jpg", class: "img-responsive" %>
  </div>
  <div class="footer">
    <ul class="list-inline">
      <li class="list-inline-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="list-inline-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="list-inline-item"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
    <p>contact@assurancesvelo.com | 58 rue de buzenval 92210 Saint Cloud | <a href="">jobs</a> | <a href="">mentions légales</a> | <a href="">listes antivols</a> | <a href="">notices d'assurances</a></p>
</div>
