<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand js-scroll-trigger" href="/"><%= image_tag "logo-assurance-velo.png", width: 200 %></a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#epreuves" id="btn-antivol-nav">liste des antivols</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lots" id="btn-faq-nav">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lots" id="btn-challenge-nav">Challenge</a>
      </li>

      <form class="form-inline my-2 my-lg-0 btn-hide" id="btn-devis-nav">
       <button class="btn my-2 my-sm-0 btn-black-devis-nav hvr-float" >devis gratuit</button>
      </form>


      <form class="form-inline my-2 my-lg-0 btn-hide" id="btn-souscrire-nav">
        <button class="btn my-2 my-sm-0 btn-orange-souscription-nav hvr-float" >Souscrire</button>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="#epreuves" style="background-color: white; color: black; font-weight: bold;"><i class="fa fa-phone" aria-hidden="true"></i> 01.47.71.74.79</a>
      </li>
    </ul>
  </div>
</nav>
