
<div class="antivol-header">
</div>

<div  class="concurents-wrapper">
  <div class="headline-wrapper d-flex justify-content-center align-items-center" id="challenge" style="background-color:#f7f7f7 !important">
    <div class="headline">
      <h2>Liste des antivols certifiés</h2>
      <h3>Votre antivol n'est pas présent ? Pensez à nous appeler pour voir ce que l'on peut faire <span style="border-bottom:2px solid #F75100; font-weight:bold;">01.47.71.74.79</span></h3>
    </div>
  </div>

  <div class="antivol">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-centered">
          <table class="table table-bordered text-center table-concurrent">
            <thead class="thead-inverse">
              <tr>
                <td>Marque</td>
                <td>Type</td>
                <td>Designation</td>
                <td>Prix moyen</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nom antivol ex abus</td>
                <td>type :ex Antivol U</td>
                <td>designation : ex BS 450</td>
                <td>1000€ wesh</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-centered">
          <ul class="list-inline d-flex align-items-center justify-content-center">
            <li class="list-inline-item p-2"><button class="btn btn-orange pulse"> Devis Gratuit</button></li>
            <li class="list-inline-item p-2"><button class="btn btn-orange-border"> retour à l'accueil</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

