.btn-orange{
  color: white;
  background-color: $orange;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
}

.btn-orange-lg{
  color: white;
  background-color: $orange;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
   color: white;
  }
}

.btn-orange-short{
  color: white;
  background-color: $orange;
  text-transform: uppercase;
  width: 100%;
}

.btn-white-border{
  background-color: transparent;
  color:white;
  border: white 1px solid;
  border-radius:2px;
  text-transform: uppercase;
}

.btn-orange-white{
  color: white;
  font-weight: bold;
  background-color: transparent;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 30px;
  border: $orange 2px solid;
  text-transform: uppercase;
}

.btn-white-border-souscrire{
   background-color: transparent;
   color:white;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1.5em;
   padding-right: 1.5em;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   border: white 1px solid;
   border-radius:2px;
   &:hover{
    color: white;
   }
}


/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
